body {
    background-color:#DBE2DC;
    font-family: Arial, Helvetica, sans-serif;
    margin: 2px;
    padding:2%;
}

#intro {
    border: 2px solid #7F543D;
    padding:15px;
    margin: 20px;
    width: 80%;
    border-radius: 10px;
}
.highlight {
    color:#335765;
    font-weight: bold;
    margin: auto;
    border-radius: 10px;
}